@charset "UTF-8";


body{
	width:80%;
	margin:10px auto;
	background:#F2F2F2;
	padding:0 20px;
	padding-bottom: 30px;
	padding-top:15px;
}
a{
	color:black;
    text-decoration: none;
  }
.logo_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh; /* viewport height */
}
.logo {
	flex:1.5;
	cursor: pointer;
}

.logo img {
	width: 200px;
	margin-left: 50px;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
}
input {
	border-radius: 30px;
	text-align: center;
	vertical-align: middle;
	width: 300px;
    height:38px;
    font: var(--body16);
    margin-top:10px;
}
input[type="text"] {
	background-color: white;
	border : 1px solid #E3E2E0;
}
#id{
	margin-top:5px;
}

#Findpassword{
	background-color :#182434;
	color: white;
	margin-top:10px;
	border : 1px solid #182434;
	margin-bottom:20px;
	cursor: pointer;
}
#password{
	display:none;
}
.h1{
	margin-top:40px;
	margin-left:-150px;
}
.a-word{
	position:absolute;
	font-size:15px;
}
#a-id{
	background-color: white;
	margin:15px 0 0 -40px;
}
#a-mail{
	background-color: white;
	margin:23px 0 0 -60px;
}
