@charset "UTF-8";


html{
	width:950px;
	background: #E3E2E0;
}
body{
	width:80%;
	margin:10px auto;
	background:#F2F2F2;
	padding:0 20px;
	padding-bottom: 30px;
	padding-top:15px;
}
a{
	color:black;
    text-decoration: none;
  }
.logo_container{
	display:flex; 
	align-items: center;	
	justify-content: center; 
	height:50px;
	border-top: 13px solid #182434; 
	border-bottom: 5px solid #182434;
}
.logo {
	font-family: 'VitroCore';
	font-size:40px;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
}
input {
	border : 1px solid #E3E2E0;
	border-radius: 30px;
	text-align: center;
	vertical-align: middle;
	width: 300px;
    height:38px;
    font-size : 15px;
    margin-top:10px;
}
