@charset "UTF-8";

.logo_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh; /* viewport height */
}
body{
	width:1240px;
	background: #D7D1C7;
}

.logo {
	flex:1.5;
	cursor: pointer;
}

.logo img {
	width: 200px;
	margin-left: 50px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
}
input {
	
	border-radius: 30px;
	text-align: center;
	vertical-align: middle;
	width: 400px;
    height:50px;
    font-size : 20px;
    margin-top:12px;
}
a{
	color:black;
    text-decoration: none;
  }
#id{
	margin-top:-20px;
}
.id-pw{
	border : 1px solid #E3E2E0;
}
.sign_up_pw{
	font-size:18px;
	margin-top:50px;
	color: black;
}
.loginbtn{
	background:#DCD9D8;
	border : 1px solid #182434;
}
.loginbtn.on{
    background-color: #182434;
    color: white;
    cursor: pointer;
}