main {
	padding: 50px 0;
}

.top {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 30px;
}

.top img {
	margin-right: 20px;
}

.top p {
	font: var(--heading24);
}

.profile {
	width: 100%;
	margin-bottom: 50px;
	position: relative;
	display: flex;
	align-items: center;
}

.profile #imgWrap {
	min-width: 300px;
	min-height: 380px;
	width: 300px;
	height: 380px;
	overflow: hidden;
	border-radius: 10px;
	border: 1.5px solid var(--main);
	margin-right: 50px;
	box-shadow: 3px 5px 8px 0px rgba(167, 176, 192, 0.32);
}

.profile #imgWrap img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.profile .informWrap {
	width: 100%; display : flex;
	justify-content: space-between;
	align-items: flex-start;
	display: flex;
}

.profile .informWrap .inform>p:first-of-type {
	margin-bottom: 15px;
}

.profile .informWrap .inform .name {
	margin-bottom: 30px;
	font: var(--heading24);
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.profile .informWrap .inform .name span {
	display: inline-block;
}

.medal {
	border-radius: 8px;
	padding: 4px 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.1);
}

.medal p {
	font: var(--body14);
	padding-top: 2px;
	margin-left: 8px;
}

.profile .informWrap .inform .informContent {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.profile .informWrap .inform .informContent .left {
	margin-right: 50px;
}

.profile .informWrap .inform .informContent .left p, .profile .informWrap .inform .informContent .right p
	{
	margin-bottom: 30px;
}

.profile .informWrap .inform .informContent .left p:last-of-type,
	.profile .informWrap .inform .informContent .right p:last-of-type {
	margin-bottom: 0;
}

.bold {
	display: inline-block;
	margin-right: 35px;
}

.bold, .left p {
	font: var(--highlight16);
}

#birthday {
	display: inline-block;
	margin-right: 50px;
}

.profile .informWrap #share {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid var(--point);
	cursor: pointer;
}

.profile .informWrap #share:hover {
	background-color: var(--point);
}

.tabMenu .like {
	width: 110px;
	height: 110px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 2px solid var(--point);
	border-radius: 10px;
	margin-bottom: 50px;
	cursor: pointer;
	font: var(--highlight16);
}

.tabMenu .like:active {
	background-color: var(--point);
}

.tabMenu .like #likeCount {
	margin: 10px 0;
}

.tabMenu .like p {
	font: var(--body14);
}

article {
	padding: 50px;
	line-height: 30px;
}

.mokcha {
	font: var(--heading18);
	margin-bottom: 5px;
}

.bottomTap {
	width: 100%;
	border-bottom: 2px solid var(--main);
}

.bottomTap>p {
	width: 160px;
	height: 40px;
	border: 1.5px solid var(--main);
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	font: var(--highlight14);
	color: var(--white);
	background-color: var(--main);
	position: relative;
	top: 2px;
	left: 0;
}

.commentWrap {
	margin-bottom: 20px;
	padding: 30px 20px;
}

.commentWrap .commentList> * {
	margin-bottom: 30px;
}

.errorWrap {
	padding: 30px;
}

.errorWrap a {
	color: blue;
	text-decoration: underline;
}

.inputWrap {
	width: 100%;
	height: 48px;
	border: 1.5px solid var(--main);
	border-radius: 8px;
	padding: 14px 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.inputWrap:first-of-type {
	margin-bottom: 30px;	
}

.inputWrap input {
	width: 95%;
	height: 100%;
}
.inputWrap:focus-within {
	border-color: var(--point);
}
.inputWrap input::placeholder,
.inputWrap button {
	color: var(--white);
}

.commentList > div {
	width: 100%;
	/* border: 1px solid var(--main); */
	border-radius: 8px;
	padding: 30px;
	box-shadow: 3px 5px 5px 3px rgba(0, 0, 0, 0.1);
}

#date {
	font: var(--body14);
}

.commentList .commentInfo {
	display: flex;
	align-items: flex-start;
	margin-bottom: 30px;
}

.commentList .commentInfo p:first-of-type {
	font: var(--highlight16);
}

.commentList .commentInfo p {
	margin-right: 30px;
}

.commentList .commentInfo button:hover {
	color: var(--point);
}