<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<typeAliases>
	<typeAlias type="dto.CommentDTO" alias="commentDto"/>
	<typeAlias type="dto.LikeDTO" alias="likeDto"/>
	<typeAlias type="dto.QuotationDTO" alias="quotationDto"/>
	<typeAlias type="dto.UserDTO" alias="userDto"/>
	<typeAlias type="dto.ListDTO" alias="listDto"/>
</typeAliases>
</configuration>