@charset "UTF-8";

/* main */
main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
a:hover {
	text-decoration: underline;
}

/* mainSearch */
#mainSearchForm {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50%;
	height: 50px;
	border: 2px solid var(--main);
	border-radius: 8px;
	margin-top: 80px;
}
#mainSearchInput {
	width: 90%;
	height: 30px;
	margin-left: 20px;
	font: var(--body16);
	color: var(--main);
	background-color: var(--back);
}
#mainSearchSubmit {
	cursor: pointer;
	margin-left: 10px;
	margin-right: 20px;
	max-height: 30px;
}

/* listTypeUl */
#listTypeUl {
	display: flex;
	flex-direction: row;
	align-items: center;
	border-bottom: 2px solid var(--main);
	width: 100%;
	margin-top: 80px;
}
.listTypeLi {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 20%;
	height: 50px;
	border: 1.5px solid var(--main);
	border-bottom: none;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	cursor: pointer;
}
.listTypeLi:hover {
	box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.2);
	transition: 0.5s;
}
.listTypeLi h1 {
	font: var(--heading18);
}
.activeLi {
	background-color: var(--main);
	color: white;
}

/* listUlCaption */
#listUlCaption {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-top: 20px;
}
#liCnt span {
	color: var(--main);
}
#listSort a {
	margin-left: 5px;
}

/* listUl */
#listUl {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
	width: 100%;
	margin-top: 20px;
}

/* listLi */
.listLi {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 280px;
	height: 180px;
	border: 2px solid var(--main);
	background-color: var(--sub1);
	cursor: pointer;
}
.liCaption {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin: 10px;
	font: var(--caption14);
}
.liMngNo {
	margin-left: 10px;
	color: var(--gray2);
}
.liWork {
	margin-right: 10px;
	color: var(--main);
}
.liContents {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100%;
	height: 130px;
	margin-bottom: 10px;
}
.liProfile {
	width: 50%;
	height: 100%;
	border: 1.5px solid var(--main);
	border-radius: 10px;
	overflow: hidden;
	background-color: var(--back);
	margin-left: 10px;
}
.yesProfile, .noProfile {
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.yesProfile {
	object-position: center center;
}
.noProfile {
	object-position: center top;
}
.liInfo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 50%;
	height: 100%;
	margin: 0 10px;
}
.liName {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font: var(--heading24);
	height: 60%;
}
.liBottom {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 90%;
	height: 40%;
}
.liBottom * {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.liSex p:first-child,
.liLike p:first-child,
.liComm p:first-child {
	font: var(--highlight14);
	color: var(--gray2);
}
.liSex p:last-child,
.liLike p:last-child,
.liComm p:last-child {
	font: var(--body14);
	color: var(--gray2);
}

/* pageNums */
.pageNums {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 30px;
	margin-top: 20px;
	margin-bottom: 100px; 
}
.pageChange, .pageBtn {
	height: 30px;
}
.pageChange {
	width: 30px;
	font: var(--button16);
	color: var(--main);
	border: 1.5px solid var(--main);
}
.pageChange:hover {
	background-color: var(--main);
	color: white;
}
.strongPrev {
	border-right: none;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
.prev {
	margin-right: 10px;
}
.strongNext {
	border-left: none;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
.next {
	margin-left: 10px;
}
.pageBtn {
	margin: 0 5px;
	font: var(--body16);
}
.pageBtn:hover {
	text-decoration: underline;
}
.pageActive {
	font-weight: bold;
	color: var(--main);
}